:root {
    --primary-btn: #ffb900;
    --primary-color-bg: #fffcf4;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
.heading {
    color: #171100;
    font-family: Sen;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 58px;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -1.16px;
}

.heading.lv2 {
    font-size: 38px;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    line-height: 50px;
    min-width: 118px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    background: var(--primary-color-bg);
}

.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    bottom: 6px;
    left: 21px;
    display: inline-block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* ==== Hero ===== */
.hero {
    padding-bottom: 65px;
    padding-top: 56px;
    background-color: var(--primary-color-bg);
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .content {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero-summary {
    width: 270px;
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero-summary .info {
    margin-left: 26px;
}

.hero-summary .label {
    color: #5f5b53;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85;
}

.hero-summary .title {
    color: #171100;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero .content .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-btn);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background-color: var(--primary-color-bg);
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}

.hero .watch-video span {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
    margin-left: 14px; /* 166.667% */
}

.hero .icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-btn);
}

.hero .content .stats {
    margin-top: 8px;
}

.hero .stats strong:first-child {
    margin-left: -28px;
}

.hero .stats strong {
    color: #171100;
    padding: 0 8px 0 28px;
    font-family: Sen;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.23; /* 122.727% */
}

.polular {
    margin: 135px 0;
    padding: 65px 0;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.polular .info {
    width: 458px;
}

.polular .info .desc {
    padding-top: 16px;
    color: #5f5b53;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.polular .controls {
    display: flex;
    gap: 18px;
}

.polular .controls-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffb900;
    color: var(--primary-btn);
    align-items: center;
    justify-content: center;
    background: #fff;
}

.polular .controls-btn:hover {
    background: #ffb900;
    color: #fff;
    cursor: pointer;
}
